/*IMPORTING GOOGLE FRONTS*/

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*STOPPING IMPORTING GOOGLE FRONTS*/

body {
    background-color: #EFEAE2;
}


/*Helping classes */


/*Gives img allways 100% width*/

.img-responsive {
    width: 100%;
}


/*Gives all Headings a font-family and padding 0*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    padding: 0;
}

header {
    height: 330px;
    background-color: #FFC63C;

}

.logoText {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
        text-align: center;
    }
    img {
        padding-left: 10%;
    }
}

nav {
    
    ul {
        
        li {
            
            list-style: none;
            display: inline-block;
            a {
                padding-right: 10px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: 'Raleway', sans-serif;
                &:hover {}
            }
        }
    }
}

.wrapper {
    width: 1366px;
    margin: 0 auto;
    padding: 0;
}

.bgMain {
    background-color: aqua;
    margin-top: 30px;
}